/* ESCRITOIO */
.desktop-nav {
    display: none;
     /* Por defecto, oculta el componente de navegación  */
  }
  
  @media (min-width: 1024px) {
    .desktop-nav {
      margin: 0%;
      padding: 0%;
      display: flex;
      align-self: center;
      flex-direction: column;
      position: fixed;
      width: 25%; /* Establece el ancho del componente de navegación al 30% del ancho de la pantalla */
      background-color: #E6C281;
      color: white; /* Solo para propósitos de demostración */
      overflow-x: scroll;
      max-height: 100%;
      z-index: 1000;
      align-items: center;
    }
    .desktop-nav .logo-menuDes{
      text-align: center;
      width: 150px;
      padding: 45px 0;
      /* height:250px; */
    }
    .nav-link{
      flex-direction: column;
      max-height: 100%;
      background-color: #E6C281;
    }
    .nav-link li {
      display: block;
      padding: 10px 15px; /* Espacio de relleno (arriba/abajo izquierda/derecha) */
      text-decoration: none;
      color: #333; /* Color del texto */
    }
    .nav-link li a {
      display: block;
      padding: 10px 15px; /* Espacio de relleno (arriba/abajo izquierda/derecha) */
      text-decoration: none;
      color: #333; /* Color del texto */
    }
    .nav-link li:hover {
      background-color: #761113; /* Cambio de color de fondo en hover */
    }
    .nav-link li a:hover {
      color: #fff; /* Cambio de color de texto en hover */
    }
    .text-navlink{
      font-size: 16px;
    }
  }
  @media (min-width: 1280px) {
    .desktop-nav {
      margin: 0%;
      padding: 0%;
      display: flex;
      align-self: center;
      flex-direction: column;
      position: fixed;
      width: 25%; /* Establece el ancho del componente de navegación al 30% del ancho de la pantalla */
      background-color: #E6C281;
      color: white; /* Solo para propósitos de demostración */
      overflow-x: scroll;
      max-height: 100%;
      z-index: 1000;
    }
    .desktop-nav img{
      width: 300px;
      height:250px;
    }
    .nav-link{
      flex-direction: column;
      max-height: 100%;
      /* background-color: #E6C281; */
    }
    .nav-link li {
      display: block;
      padding: 10px 15px; /* Espacio de relleno (arriba/abajo izquierda/derecha) */
      text-decoration: none;
      color: #333; /* Color del texto */
    }
    .nav-link li a {
      display: block;
      padding: 10px 15px; /* Espacio de relleno (arriba/abajo izquierda/derecha) */
      text-decoration: none;
      color: black; /* Color del texto */
    }
    .nav-link li:hover {
      background-color: #761113; /* Cambio de color de fondo en hover */
    }
    .nav-link li a:hover {
      color: #fff; /* Cambio de color de texto en hover */
    }
    .text-navlink{
      font-size: 1.125em;
    }
  }
  
  @media (min-width: 1600px) {
    .desktop-nav {
      margin: 0%;
      padding: 0%;
      display: flex;
      align-self: center;
      flex-direction: column;
      position: fixed;
      width: 25%; /* Establece el ancho del componente de navegación al 30% del ancho de la pantalla */
      background-color: #E6C281;
      color: white; /* Solo para propósitos de demostración */
      overflow-x: scroll;
      max-height: 100%;
      z-index: 1000;
    }
    .desktop-nav img{
      width: 300px;
      height:250px;
    }
    .nav-link{
      flex-direction: column;
      max-height: 100%;
      background-color: #E6C281;
    }
    .nav-link li {
      display: block;
      padding: 10px 15px; /* Espacio de relleno (arriba/abajo izquierda/derecha) */
      text-decoration: none;
      color: #333; /* Color del texto */
    }
    .nav-link li a {
      display: block;
      padding: 10px 15px; /* Espacio de relleno (arriba/abajo izquierda/derecha) */
      text-decoration: none;
      color: #333; /* Color del texto */
    }
    .nav-link li:hover {
      background-color: #761113; /* Cambio de color de fondo en hover */
    }
    .nav-link li a:hover {
      color: #fff; /* Cambio de color de texto en hover */
    }
    .text-navlink{
      font-size: 1.25em;
    }
  
  }
  @media (min-width: 1920px) {
    .desktop-nav {
      margin: 0%;
      padding: 0%;
      display: flex;
      align-self: center;
      flex-direction: column;
      position: fixed;
      width: 25%; /* Establece el ancho del componente de navegación al 30% del ancho de la pantalla */
      background-color: #E6C281;
      color: white; /* Solo para propósitos de demostración */
      overflow-x: scroll;
      max-height: 100%;
      z-index: 1000;
    }
    .desktop-nav img{
      width: 300px;
      height:250px;
    }
    .nav-link{
      flex-direction: column;
      
      background-color: #E6C281;
    }
    .nav-link li {
      
      display: block;
      
      padding: 25px 15px; /* Espacio de relleno (arriba/abajo izquierda/derecha) */
      text-decoration: none;
      color: #333; /* Color del texto */
    }
    .nav-link li a {
      
      max-height: 400px;
      display: block;
      padding: 10px 15px; /* Espacio de relleno (arriba/abajo izquierda/derecha) */
      text-decoration: none;
      color: #333; /* Color del texto */
    }
    .nav-link li:hover {
      background-color: #761113; /* Cambio de color de fondo en hover */
    }
    .nav-link li a:hover {
      color: #fff; /* Cambio de color de texto en hover */
    }
    .text-navlink{
      font-size: 1.5em;
    }
  }
  
  