@media (min-width: 1024px) {
  .modal.open {
    
    text-align: center;
    width: 100%;
    /* max-width: px; */
  }
  .modal.open img {
    
    max-width: 320px;
  }
}
/* Estilos para el producto */
.product-card {
  width: calc(33.33% - 10px); /* Aproximadamente 1/3 del ancho del contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
  /* Añade cualquier estilo adicional necesario */
}

.product-card img {
  width: 250px;
  height: auto;
  
}

.product-card h4 {
  margin-top: 10px; /* Agrega un pequeño margen superior al título */
  text-align: center;
}

/* Estilos para el modal */
.modal {
  display: none; /* El modal está oculto inicialmente */
  position: fixed;
  top: 50%; /* Centra verticalmente el modal */
  left: 50%; /* Centra horizontalmente el modal */
  transform: translate(-50%, -50%); /* Centra el modal exactamente en el centro */
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para el modal */
  padding: 20px;
  border-radius: 10px;
  z-index: 9999; /* Asegura que el modal esté en la parte superior */
}

/* Estilos para el modal cuando está abierto */
.modal.open {
  display: block;
}

/* Estilos para el contenido dentro del modal */
.modal div {
  background-color: #fff; /* Fondo blanco para el contenido del modal */
  padding: 20px;
  border-radius: 10px;
}
.modal div img{
  width: 100%;
}

/* Estilos para el botón de cerrar */
.modal button {
  position: absolute;
  top: 1  5px;
  right: 25px;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #761113;
  padding: 15px; /* Añade un espacio alrededor del botón */
  /* position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  box-sizing: border-box; */
}
.modal-buttons {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 0%;
  padding: 0%;
}
.modal-buttons a {
  display: inline-block;
  margin: 0 5px;
  padding: 10px 20px; /* Espaciado interno de los botones */
  background-color: #333; /* Color de fondo de los botones */
  color: #fff; /* Color del texto de los botones */
  text-decoration: none; /* Quita la subrayado del texto de los botones */
  border-radius: 5px; /* Bordes redondeados para los botones */
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

.modal-buttons a:hover {
  background-color: #555; /* Cambio de color de fondo al pasar el ratón sobre los botones */
}