body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
}
#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
}
h2{
  text-align: center;
}
/* inicio mobile */
.gallery {
  
}
.gallery img{ 
  width: 100%;
  height: auto;
}

.description{
  font-size: 12px;
  text-align: center;

}
.wrp-productos h2{
  text-align: center;
  }
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-rows: auto auto auto auto; /* Ajusta el número de filas y su altura */
}

.item {
  position: relative; /* Asegura que los elementos secundarios estén posicionados relativamente a este contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
}

.item img{
  max-width: 300px;
  max-height: 250px;
}
.image-link {
  position: relative; /* Asegura que los elementos secundarios estén posicionados relativamente a este enlace */
  display: inline-block; /* Permite establecer un ancho y alto al enlace */
}
.image-title {
  position: absolute; /* Posiciona el título de la imagen de forma absoluta */
  bottom: 0; /* Lo coloca en la parte inferior */
  left: 0; /* Lo coloca en la esquina izquierda */
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  background-color: rgba(0, 0, 0, 0.5); /* Agrega un fondo semitransparente */
  color: white; /* Establece el color del texto */
  padding: 10px; /* Añade relleno alrededor del texto */
  margin: 0; /* Elimina el margen */
}

.item:nth-child(6) {
  
}



/* carousel modal  */
.mod-carosel .carousel-image{
  width: 100%; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  
}
.carousel-image {
  width: 0px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
}

.full-width {

}
.full-width .image-link {

}
.full-width .image-link .img-home{
  width: 100%;
}
.full-width .image-title{
  
}






/* ESCRITOIO */
.desktop-nav {
  display: none; 
   /* Por defecto, oculta el componente de navegación  */
}

@media (min-width: 1024px) {
  .desktop-nav {
    top:0px;
    display: flex;
    /* justify-content: center; */
    align-self: center;
    flex-direction: column;
    position: fixed;
    width: 30%; /* Establece el ancho del componente de navegación al 30% del ancho de la pantalla */
    background-color: #B67250;
    color: white; /* Solo para propósitos de demostración */
    overflow-x: scroll;
    max-height: 100%;
    z-index: 1;
    

  }
  .desktop-nav img{
    
    width: 300px;
    height:300px;
    
    
  }

  .gallery{
    display: block;
    margin-left: 30%; /* Ajusta el margen izquierdo del contenido principal para evitar superposiciones */
    margin-top: 120px;
  }

  .nav-link{
    
    flex-direction: column;

    
    
    max-height: 100%;
    background-color: #B67250;
    
    
    
    /* background-color: #FDDFBA;  */
     /* padding: 20px;  */
    
    
  }

  .nav-link li {
    /* background-color: #f0f0f0; Color de fondo de los elementos de la lista */
    /* list-style: none; */
    display: block;
    padding: 10px 15px; /* Espacio de relleno (arriba/abajo izquierda/derecha) */
    text-decoration: none;
    color: #333; /* Color del texto */
  }
  
  .nav-link li a {
    display: block;
    padding: 10px 15px; /* Espacio de relleno (arriba/abajo izquierda/derecha) */
    text-decoration: none;
    color: #333; /* Color del texto */
  }
  
  .nav-link li:hover {
    background-color: #761113; /* Cambio de color de fondo en hover */
  }
  
  .nav-link li a:hover {
    color: #fff; /* Cambio de color de texto en hover */
  }

}




/* DIEÑO DE LAS PAGINAS */
.gallery-page{
  max-width: 100%;
  margin-top: 120px;
}

.wrp-pages h2{
  padding: 20px 0 0 0;
}
.wrp-pages p{
  text-align: justify;
  padding: 10px 10px;
}
.wrp-product{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
.wrp-product{
  
  
}
.gallery-page {
  display: block;
  margin-left: 30%; /* Ajusta el margen izquierdo del contenido principal para evitar superposiciones */
  margin-top: 120px;
  
  
}
.gallery-page img{
  max-width: 100%; 
  
}
.wrp-product{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea tres columnas de igual tamaño */
  /* grid-gap: 20px; */
  align-items: center;
  cursor: pointer;
  max-width: 100%;
}
}
