body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
}
#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
}

.offer{
  background-color: #761113;
  color: #FDDFBA;
  text-align: center;
}

.wrp-header{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  

}
.wrp-header .wrp-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size:8px; /* Tamaño de letra 2 veces el tamaño de la fuente raíz */
}
.wrp-header .wrp-title .title{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size:20px; /* Tamaño de letra 2 veces el tamaño de la fuente raíz */
}
.wrp-header .wrp-title span{
  align-items: center;
  align-content: center;
  justify-content: center;

}

.wrp-header .wrp-logo img{
  width: 90px;
}
.wrp-header .wrp-follow img{
  width: 50px;
  align-items: center;
  align-content: center;
  justify-content: center;

}

h2{
  text-align: center;
}
.gallery {
  
}
.gallery img{ 
  width: 100%;
  height: auto;
}
/* .gallery{
  margin-left: 30%; /* Ajusta el margen izquierdo del contenido principal para evitar superposiciones */
/* }
.gallery img{
  margin-left: 30%; /* Ajusta el margen izquierdo del contenido principal para evitar superposiciones */
  /* max-width: 100%; /*Asegura que las imágenes no se desborden del contenedor */
  /* height: auto; Mantiene la proporción de aspecto de las imágenes */
/* }
.mod-carosel{
  max-width: 100%; 
  margin-left: 30%; Ajusta el margen izquierdo del contenido principal para evitar superposiciones */


.description{
  font-size: 12px;
  text-align: center;

}
.wrp-productos h2{
  text-align: center;
  }
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.item {
  position: relative; /* Asegura que los elementos secundarios estén posicionados relativamente a este contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
}
.image-link {
  position: relative; /* Asegura que los elementos secundarios estén posicionados relativamente a este enlace */
  display: inline-block; /* Permite establecer un ancho y alto al enlace */
}
.image-title {
  position: absolute; /* Posiciona el título de la imagen de forma absoluta */
  bottom: 0; /* Lo coloca en la parte inferior */
  left: 0; /* Lo coloca en la esquina izquierda */
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  background-color: rgba(0, 0, 0, 0.5); /* Agrega un fondo semitransparente */
  color: white; /* Establece el color del texto */
  padding: 10px; /* Añade relleno alrededor del texto */
  margin: 0; /* Elimina el margen */
}
.item img {
  max-width: 100%;
  height: auto;
}

.full-width {
  grid-column: span 2;
}

footer{
  background-color: #761113;
  color: #FDDFBA;
  display: flex;
  justify-content: space-around;
  flex-direction: column; /* Para apilar los elementos verticalmente en dispositivos móviles */
  align-items: center; /* Para centrar los elementos horizontalmente */
  /* aqui */
    /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; */
}
footer .grid-container img{
  width: 100%; /* Haz que las imágenes ocupen todo el ancho del contenedor */
  max-width: 140px;
  margin: 0%;
  padding: 0% ;
}

footer .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de tamaño igual */
  grid-template-rows: auto auto; /* Dos filas de tamaño automático */
  grid-gap: 5px;
  margin: 15px;
}
/* footer .item1, */
footer .footer-contacto {
  grid-column: span 1; /* Ocupa una columna */
  text-align: center;

}

footer .copyright {
  grid-column: span 2; /* Ocupa dos columnas */
}
footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;

}
footer .footer-contacto{
  margin: 0px;
  padding: 0px;
  font-size: 12px;

}
footer .footer-contacto p{
  margin:0;
  padding-top: 20px;

}
footer .footer-contacto .follows > img{
  width: 20px;
  margin: 4px;
}

.footer-contacto .follows{
  /* display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; */

}

.desktop-nav {
  display: none; 
   /* Por defecto, oculta el componente de navegación  */
}

@media (min-width: 1024px) {
  .desktop-nav {
    display: block; /* Muestra el componente de navegación en pantallas de escritorio */
    width: 30%; /* Establece el ancho del componente de navegación al 30% del ancho de la pantalla */
    height: 100vh; /* Establece la altura del componente al 100% de la altura de la pantalla */
    /* background-color: #333; Solo para propósitos de demostración */
    color: white; /* Solo para propósitos de demostración */
    position: absolute; /* Fija el componente en su posición para que no se desplace con el contenido */
    top: 0; /* Fija la posición del componente en la parte superior de la pantalla */
    left: 0; /* Fija la posición del componente en el lado izquierdo de la pantalla */
    padding: 20px; /* Añade un relleno interior al componente */
  }
  .gallery {
    margin-left: 30%; /* Ajusta el margen izquierdo del contenido principal para evitar superposiciones */
  }
  .nav{
    display: block;
    align-items: center;
    align-content: center;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Color de fondo del menú */
    padding: 20px; /* Espacio interno del menú */
    box-sizing: border-box; /* Incluir el padding en el ancho y alto del elemento */
    z-index: 1000; /* Asegúrate de que el menú esté en la parte superior */
    overflow-y: auto; /* Agrega scroll si el contenido excede el tamaño del menú */
  }
  .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    /* background-color: #f0f0f0; Color de fondo de los elementos de la lista */
    /* list-style: none; */
    display: block;
    padding: 10px 15px; /* Espacio de relleno (arriba/abajo izquierda/derecha) */
    text-decoration: none;
    color: #333; /* Color del texto */
  }
  
  .nav li a {
    display: block;
    padding: 10px 15px; /* Espacio de relleno (arriba/abajo izquierda/derecha) */
    text-decoration: none;
    color: #333; /* Color del texto */
  }
  
  .nav li:hover {
    background-color: #ccc; /* Cambio de color de fondo en hover */
  }
  
  .nav li a:hover {
    color: #fff; /* Cambio de color de texto en hover */
  }
}
/* Ajusta el ancho del contenido principal para que no se superponga con el componente de navegación */

/* menu */
/* Menu.css */
/* .Menu {
  position: relative;
}

.menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.menu-items {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.menu-items.open {
  display: block;
}

.menu-items a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.menu-items a:hover {
  background-color: #f4f4f4;
} */